<!DOCTYPE html>
<html lang="en" th:fragment="layout (content)" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="../css/typed_text.css">
        <link rel="stylesheet" href="../css/admin.css">
      <title>Admin</title>
    </head>
    <body>
        <div id="app">
            <div>
                <nav class="main-menu" style="z-index: 2">
                    <div class="logo"></div>
                    <div class="settings"></div>
                    <ul>
                        <li>
                            <a href="#">
                                <i class="mdi mdi-home mdi-36px fa-lg"></i>
                                <span class="nav-text">Home</span>
                            </a>
                        </li>
                        <li class="has-subnav">
                            <a href="/admin/projects">
                                <i class="mdi mdi-folder mdi-36px fa-lg"></i>
                                <span class="nav-text">Проекты</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="mdi mdi-folder-plus mdi-36px fa-lg"></i>
                                <span class="nav-text">Добавить проект</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="mdi mdi-alien mdi-36px fa-lg"></i>
                                <span class="nav-text">Технологии</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="mdi mdi-cog mdi-36px fa-lg"></i>
                                <span class="nav-text">Найстройки</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="logout">
                        <li>
                            <a href="#">
                                <i class="mdi mdi-arrow-bottom-left mdi-36px fa-lg"></i>
                                <span class="nav-text">Назад на главную</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div style="width: calc(100% - 60px); position: relative; left: 60px; z-index: 1">
                <div th:replace="${content}"></div>
            </div>
        </div>

        <script src="../js/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>
        <script src="../js/admin.js"></script>
    </body>
</html>
