<!DOCTYPE html>
<html lang="en" th:fragment="layout (content)" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
        <link rel="stylesheet" href="css/cog1.css">
        <title>Langolier</title>
    </head>
    <body>
        <div id="app">
            <div th:replace="fragments/header"></div>
            <img id="cog1" class="cog1" src="img/cog1.png" alt="">
            <img id="cog2" class="cog2" src="img/cog1.png" alt="">
            <div th:replace="${content}"></div>
            <div th:replace="fragments/footer"></div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="js/vue.js"></script>
        <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

        <script src="js/main.js"></script>

        <script>
            $(window).scroll(function () {
                $('#cog1').toggleClass("active");
                $('#cog2').toggleClass("active");
            });
        </script>
    </body>
</html>