<!DOCTYPE html>
<html lang="en" th:fragment="layout (content)" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.8.55/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">
        <title>Langolier</title>
    </head>
    <body>
        <div id="app">
            <div th:replace="fragments/header"></div>
            <div th:replace="${content}"></div>
            <div th:replace="fragments/footer"></div>
        </div>

        <script src="js/vue.js"></script>
        <script src="https://unpkg.com/buefy/dist/buefy.min.js"></script>

        <script>
            new Vue({
                el: '#app',
                data(){
                    return {
                        carousels: [
                            { text: 'Slide 1', image: 'https://picsum.photos/id/0/1230/500' },
                            { text: 'Slide 2', color: 'info' },
                            { text: 'Slide 3', color: 'success' },
                            { text: 'Slide 4', color: 'warning' },
                            { text: 'Slide 5', color: 'danger' }
                        ]
                    }
                }
            })
        </script>
    </body>
</html>