<template>
    <b-navbar>
        <template #brand>
            <b-navbar-item>
                <h1><a href="/">Home</a></h1>
            </b-navbar-item>
        </template>
        <template #start>
            <b-navbar-item href="#">
                Мои проекты
            </b-navbar-item>
            <b-navbar-item href="#">
                Документация
            </b-navbar-item>
            <b-navbar-dropdown label="Инфо">
                <b-navbar-item href="#">
                    Обо мне
                </b-navbar-item>
                <b-navbar-item href="#">
                    Контакты
                </b-navbar-item>
            </b-navbar-dropdown>
        </template>
    </b-navbar>
</template>
