<!doctype html>
<html lang="en" th:replace="~{layouts/layout :: layout(~{::body})}" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
    <section class="section">
        <div class="columns is-desktop"
             style="width: 100vw;
             height: 100vh;
             background-image: url('');
             background-repeat: no-repeat;
             background-size: 100%;">
            <div class="column">
                <div class="container">
                    <h1 class="title">Hello there!</h1>
                    <h2 class="subtitle">
                        Меня зовут Александр, я программист.
                        Разрабатываю программные продукты и
                        технические решения бля бизнеса, автоматизирую
                        рутинные рабочие процессы, создаю сайты.
                    </h2>
                    <h2 class="subtitle">
                        На этом сайте Вы можете ознакомится с
                        моими работами, найти ссылки на
                        документации моих проектов и связаться со мной.
                    </h2>
                </div>
            </div>
            <div class="column"></div>
        </div>
    </section>
    <section class="section">
            <div class="container">
                <template>
                    <b-carousel :pause-info="false">
                        <b-carousel-item v-for="(carousel, i) in carousels" :key="i">
                            <section :class="`hero is-medium is-${carousel.color}`">
                                <div class="hero-body has-text-centered">
                                    <figure class="image">
                                        <h1 class="title">{{carousel.text}}</h1>
                                        <img :src="carousel.image">
                                    </figure>
                                </div>
                            </section>
                        </b-carousel-item>
                    </b-carousel>
                </template>
            </div>
        </section>
    </body>
</html>
