<!doctype html>
<html lang="en" th:replace="~{layouts/layout :: layout(~{::body})}" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
    <section class="section">
        <div class="columns is-desktop"
             style="padding: 4%;">
            <div class="column">
                <div class="container">
                    <h1 class="title">Hello there!</h1>
                    <h2 class="subtitle">
                        Меня зовут Александр, я программист.
                        Разрабатываю программные продукты и
                        технические решения для бизнеса, автоматизирую
                        рутинные рабочие процессы, создаю приложения и сайты.
                    </h2>
                    <h2 class="subtitle">
                        На этом сайте Вы можете ознакомится с
                        моими работами, найти ссылки на
                        документацию моих проектов и связаться со мной.
                    </h2>
                </div>
            </div>
            <div class="column">
                <div class="wrapper">
                    <div class="typing-demo">
                        <code class="prettyprint">
                            package main;<br>
                            <br>
                            class Main {<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;public static void main(String[] args) {<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;System.out.println("Hello world!");<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;}<br>
                            }
                        </code>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
            <div class="container">
                <template>
                    <b-carousel :pause-info="false">
                        <b-carousel-item v-for="(carousel, i) in carousels" :key="i">
                            <section class="hero is-medium" :style="`background-image: url(${carousel.image})`">
                                <div class="hero-body has-text-centered">
                                    <figure class="image">
                                        <h1 class="title">{{carousel.text}}</h1>
                                    </figure>
                                </div>
                            </section>
                        </b-carousel-item>
                    </b-carousel>
                </template>
            </div>
        </section>
    </body>
</html>
